{% extends 'base.html'%}

{% block content %}
    <head>
        <meta charset="utf-8">
        <h3>&#128701; 공중화장실 지도 &#128701;</h3>
        <h4>아래 지도에서 마커를 확인하세요!</h4>
    </head>
    <body>
    <div id="map" style="width:1250ox;height:520px;"></div>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f10335069a4d9c45d697acbf72f5383f"></script>
    <script>
                
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = [
        {
            title: '카카오', 
            latlng: new kakao.maps.LatLng(37.56370524635551, 126.97716545149815)
        },
        {
            title: '생태연못', 
            latlng: new kakao.maps.LatLng(37.564241643849535, 126.97642592110576)
        },
        {
            title: '텃밭', 
            latlng: new kakao.maps.LatLng(37.56474738652072, 126.9768271042598)
        },
        
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(37.563371911681294, 126.97553171769007)
        },
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(37.56320715950994, 126.97620841216683)
        },
        {
            title: '카카오', 
            latlng: new kakao.maps.LatLng(37.56370524635551, 126.97716545149815)
        },
        {
            title: '생태연못', 
            latlng: new kakao.maps.LatLng(37.56469374735151, 126.97633891751263)
        },
        {
            title: '텃밭', 
            latlng: new kakao.maps.LatLng(37.5652761138663, 126.97916653371891)
        },
        
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(37.56627991914559, 126.97789531480907)
        },
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(37.565770355560666, 126.97686577249807)
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
        
    for (var i = 0; i < positions.length; i ++) {
        
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
    }
    
    </script>   

{% endblock %}
